<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <style>
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
    color: #333;
  }
  
  .s-h {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 25%;
    background-color: #34495e;
    color: #ecf0f1;
    height: 100%;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0;
  }
  
  .sidebar h2 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 12px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
  }
  
  .sidebar li:hover {
    background-color: #1abc9c;
    color: white;
  }
  
  .content {
    flex-grow: 1;
    padding: 30px;
    overflow-y: auto;
  }
  
  .content h1 {
    margin-top: 0;
    font-size: 2rem;
    color: #2c3e50;
  }
  
  .endpoint-details {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .endpoint-details:hover {
    transform: translateY(-3px);
  }
  
  .endpoint-details h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
  }
  
  .endpoint-method {
    display: inline-block;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #2ecc71;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
  }
  
  #searchInput {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out;
  }
  
  #searchInput:focus {
    border-color: #1abc9c;
    outline: none;
  }

  </style>

</head>
<body>
  <div>
    <h1>{{title}}</h1>
  </div>
  <div class="s-h">
    <div class="sidebar">
      <h2>Categories</h2>
      <ul>
        {{#each groupedEndpoints}}
          <li onclick="showCategory('{{@key}}')">{{@key}}</li>
        {{/each}}
      </ul>
    </div>
    
    <div class="content">
          <input type="text" id="searchInput" placeholder="Search endpoints..." oninput="filterEndpoints()">
<h1>All Path Details </h1>
      {{#each groupedEndpoints}}
        <div id="{{@key}}" class="category" style="display: none;">
          <h2>{{@key}}</h2>
          {{#each this}}
            <div class="endpoint-details">
              <h3 class="endpoint-path">Path: {{path}}</h3>
              <p><strong>Methods:</strong> 
                {{#each methods}}
                  <span class="endpoint-method">{{this}}</span>
                {{/each}}
              </p>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
  <script>
    function showCategory(category) {
      document.querySelectorAll('.category').forEach((categoryDiv) => {
        categoryDiv.style.display = 'none';
      });

      const selectedCategory = document.getElementById(category);
      if (selectedCategory) {
        selectedCategory.style.display = 'block';
      }
    }

    function filterEndpoints() {
      const searchInput = document.getElementById('searchInput').value.toLowerCase();
      document.querySelectorAll('.endpoint-details').forEach((endpoint) => {
        const path = endpoint.querySelector('.endpoint-path').textContent.toLowerCase();
        if (path.includes(searchInput)) {
          endpoint.style.display = 'block';
        } else {
          endpoint.style.display = 'none';
        }
      });
    }
  </script>
</body>
</html>